.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  color: #ffffff;
  background-color: #2c0e3a;
  font-family: 'Roboto';
  padding: 0px;
  padding-right: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

@media screen and (max-width: 576px) {
  .nav-items-container {
    padding-left: 0px;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-item {
  list-style-type: none;
  margin-left: 0px;
}

.game-logo {
  width: 140px;
  height: 40px;
}

@media screen and (max-width: 576px) {
  .game-logo {
    width: 135px;
    height: 32px;
  }
}

.score-timer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
}

.score {
  font-weight: 500;
}

.score-in-num {
  color: #fec653;
}

.timer {
  display: flex;
  align-items: center;
  color: #fec653;
  font-weight: 500;
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  .timer {
    margin-right: 5px;
  }
}

.timer-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .timer-logo {
    margin-right: 5px;
  }
}

.match-image-container {
  margin-top: 125px;
}

@media screen and (max-width: 576px) {
  .match-image-container {
    margin-top: 50px;
  }
}

.match-image {
  width: 650px;
  height: 380px;
}

@media screen and (max-width: 576px) {
  .match-image {
    width: 380px;
    height: 280px;
  }
}

.tabs-container {
  display: flex;
  color: #ffffff;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .thumbnails-container {
    width: 100%;
  }
}
